body {background-color: #222222; margin: 0; padding: 0; font-family: "Monaco", "Ubuntu Mono"; font-size: 9pt;}

.largeFont {font-size: 13pt;}

.panel { background-color: #333333; border-bottom: 2px solid darkolivegreen; padding: 3pt; color: snow; font-size: 12pt; }

.terminal { font-family: "Monaco", "Ubuntu Mono", monospace; color: white;}
.terminal section {margin: 0; padding: 0;}
.terminal section.group .name { color: #398439; cursor: pointer; display: inline-block; margin: 0 0.5em; }
.terminal section.group .expose { font-weight: bold; color: #a6e22e; }
.terminal section.group .name:hover { color: #a6e22e; }
.terminal section.group .count { color: #0099cc; font-weight: bold; display: inline-block; margin: 0 0.5em; }
.terminal section.group .countErr { color: darkorange; font-weight: bold; margin: 0 0.5em; display: none; }
.terminal section.group .time { color: #0099cc; display: inline-block; margin: 0 0.5em; }
.terminal section.group .content {padding: 0 0 2em 1em; display: none;}

.terminal section.group .content > div:hover { background-color: #333333; }
.terminal section.group .content .time { display: inline; margin: 0 0.5em; }
.terminal section.group .content .delta { color: #0099cc; float: right; margin: 0 0.5em; }
.terminal section.group .content .size { color: #0099cc; float: right; margin: 0 0.5em; }
.terminal section.group .content .automarker { color: #c3cc37; float: right; margin: 0 0.5em; }
.terminal section.group .content .message { color: darkkhaki; cursor: pointer; }
.terminal section.group .content .message:hover {color: white !important; opacity: 1 !important;}
.terminal section.group .content .message .number { color: #0099cc; }
.terminal section.group .content .message .string { color: limegreen; }
.terminal section.group .content .message .boolean { color: white; font-weight: bolder; }
.terminal section.group .content .message .missing { text-decoration: underline; }
.terminal section.group .content .trace .message {opacity: .3; color: white;}
.terminal section.group .content .debug .message {opacity: .5;}
.terminal section.group .content .warning .message {color: coral; }
.terminal section.group .content .error .message {color: coral; }
.terminal section.group .content .alert .message {color: crimson; font-weight: bold; }
.terminal section.group .content .critical .message {color: white; background-color: crimson; font-weight: bold; }
.terminal section.group .content .emergency .message {color: white; background-color: crimson; font-weight: bold; }

.terminal .content ul.details {background-color: #333333; margin: 0 0 0 2em; padding: 0; list-style: none; display: none; }
.terminal .content ul.details .name {min-width: 6em; display: inline-block; margin-right: 1em;}

.terminal .content .exception {background-color: #333333; border-left: 3px solid crimson; margin: 0 0 0 2em; display: none;}

.terminal .content .exception ul.meta {padding: 0; list-style: none; }
.terminal .content .exception ul.meta .name {min-width: 8em; display: inline-block; margin-right: 1em;}

.terminal .content .exception ul.trace {padding: 0; list-style: none; font-size: smaller; }
.terminal .content .exception ul.trace .line {display: inline-block; margin-right: 1em; color: #0099cc;}
.terminal .content .exception ul.trace .file {display: inline-block; color: coral;}
